/* jumbotron stuff */
.jumbotron {
	background-position: top center;
	background-size: 100%;
}

/* body stuff */
pre {
	display: inline-block;
	padding-right: 40px;
}

#formLabel {
	text-align: center;
}

#zip, #location {
	display: inline-block;
}
