/* Mobile first */
.navbar {
  width: 100vw;
}

.jumbotron {
  position: relative;
  text-align: center;
  display: table;
  padding: 0px;
}

.jumbotron .container {
  position: absolute;
  top: 30%;
  width: 30%;
}

#splash {
  width: 600px;
}

.jumbotron .container .p {
  font-weight: bold;
  font-size: 3vh;
  margin: auto;
  text-align: center;

@media screen and (orientation: landscape) {
  #splash {
    width: 100%;
  }
  
  .navbar {
    width: 100vw;
  }
}

@media screen and (max-width:700px) {

}

@media (max-width: 480px) {
  
}

@media only screen and (min-device-width : 667px) and (max-device-width : 815px) { 
/* STYLES GO HERE */
  width: 100vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
