/* Mobile first */
.navbar {
  width: 100vw;
}

.navbar-right li a {
  font-size: 2vh;
}

.jumbotron {
  position: relative;
  text-align: center;
  display: table;
  padding: 0px;
}

.jumbotron .container {
  position: absolute;
  top: 30%;
  width: 30%;
}

#splash {
  width: 600px;
}

.jumbotron .container .p {
  font-weight: bold;
  font-size: 3vh;
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 414px) {
  #splash {
    width: 100%;
  }
  
  .navbar {
    width: 100vw;
  }
}


