.jumbotron {
  position: relative;
  text-align: center;
  display: table;
  padding: 0px;
}

.jumbotron .container {
  position: absolute;
  top: 30%;
  width: 27%;
}

#splash {
  width: 100%;
  min-width: 986px;
}
